.filtersContainer {
    max-width: 800px;
    margin: 0 auto;
}

.filtersTitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #333;
    text-align: center;
}

.filtersGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

.filterGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filterActions{
    display: flex;
    gap: 30px;
    align-items: center;
}

@media (max-width: 768px) {
    .filtersGrid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}