@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

:root {
  --primary-color: #2c3b74;
  --secondary-color: #FEFEFE;
  --black-color: #030304;
  --detail-gray: #858384;
  --footer-gray: #3E403F;
  --blue-color:#1976d2;
  --blue-color2:#1565c0;
}
html, body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}