.ApplyBtn {
  background: linear-gradient(135deg, var(--blue-color) 0%, var(--blue-color2) 100%);
  color: white;
  border: none;
  padding: 15px 5px;
  border-radius: 8px;
  font-size: .8rem;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ApplyBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.3);
}

.ApplyBtn:active {
  transform: translateY(0);
}
@media (max-width:768px) and (min-width:530px){
  .ApplyBtn{
    font-size: 1rem;
    padding:10px 8px;
  }
}