.cardsNumbers {
  width: 80%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cardsRow {
  display: grid;
  gap: 20px;
}

.row1 {
  grid-template-columns: 65fr 35fr;
}

.row2 {
  grid-template-columns: 35fr 65fr;
}
/* --- STAT CARD --- */
.card{
    background: #f9fafb;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    padding:20px 10px;
    text-align: center;
    border: 0px solid transparent;
    position: relative;
    user-select: none;
    overflow: hidden;
    transition: all 0.5s ease;
    box-shadow: 0 0px 10px #0000001a, 0 0px 10px #0000001a;

    &:hover{
        box-shadow: 0 20px 25px -5px #00000054, 0 8px 10px -6px #00000054;
        transform: translateY(-5px);
    }

    &:hover .cardTopBar {
      transform: scaleX(1);
    }
}
.cardTopBar{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, #1976d2, #bfbfbf);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.icon {
  font-size: 2rem;
  margin-bottom: 1.25rem;
  opacity: 0.8;
  color: #2c3b74;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0D0D0D;
  margin-bottom: 0.75rem;
  line-height: 1;
}

.plus {
  color: #2c3b74;
  font-size: 2rem;
  font-weight: 700;
}

.label {
  font-size: 1rem;
  color: #BFBFBF;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
}

@media (max-width:600px){
  .cardsRow{
    display: flex;
    flex-direction: column;
  }
}